.profile__avatar_type_button {
    border: 0;
    left: 0;
    top: 0;
    position: absolute;
    background-color: transparent;
    width: 120px;
    height: 120px;
    object-fit: cover;
    transition: .5s background-color;
}

.profile__avatar_type_button:hover {
    background-color: rgba(0,0,0,0.8);
    background-image: url("../../../../images/edit-button-avatar.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px;
    cursor: pointer;
}